<div class="intro-div animate-if" ng-if="introOver" ng-click="hide()">
<div class="intro-screen">
	<div class="title-card">
		<div class="title-text-box">
			<div class="title-box">
				<h1 class="title animate-if" ng-if="titleShow">COMMON CANVAS</h1>
			</div>
			<div class="sub-title-box">
				<h2 class="sub-title animate-if" ng-if="subTitleShow">a place for visual collaboration</h2>
				<h2 class="sub-title animate-if" ng-if="clickStart">touch to begin</h2>
				<h2 class="sub-title animate-if" ng-if="newRoomStart">welcome to room: {{roomName}}</h2>
			</div>
		</div>
	</div>
</div>
<span class="dark-transp-back" ></span>
</div>