<div class="picker-box">
	<span class="select-text">select a color</span>
	<div class="color-box">
		<div ng-click="colorSelect('white')"class="color-selector white"></div>
		<div ng-click="colorSelect('darkred')"class="color-selector darkred"></div>
		<div ng-click="colorSelect('purple')"class="color-selector purple"></div>
		<div ng-click="colorSelect('red')"class="color-selector red"></div>
		<div ng-click="colorSelect('pink')"class="color-selector pink"></div>
		<div ng-click="colorSelect('lightcoral')"class="color-selector lightcoral"></div>
		<div ng-click="colorSelect('orange')"class="color-selector orange"></div>
		<div ng-click="colorSelect('yellow')"class="color-selector yellow"></div>
		<div ng-click="colorSelect('lightblue')"class="color-selector lightblue"></div>
		<div ng-click="colorSelect('lightgreen')"class="color-selector lightgreen"></div>
		<div ng-click="colorSelect('green')"class="color-selector green"></div>
		<div ng-click="colorSelect('darkgreen')"class="color-selector darkgreen"></div>
		<div ng-click="colorSelect('darkblue')"class="color-selector darkblue"></div>
		<div ng-click="colorSelect('blue')"class="color-selector blue"></div>
		<div ng-click="colorSelect('darkgrey')"class="color-selector darkgrey"></div>
		<div ng-click="colorSelect('black')"class="color-selector black"></div>
	</div>
</div>