<introcard></introcard>
<colorpickersub ng-if="colorPickerSub"></colorpickersub>
<section id="canvas">
  <div id="canvas-window" class="canvas-attr"></div>
  <div ng-if="toolBarLogic" class="options-bar animate-if">
    <div class="picker-container">
      <div class="color-picker-background" ng-style="{'width':(brushSize/2+3), 'height':(brushSize/2+3), 'background-color':brushColor, 'margin-left':75+(50-(brushSize/2+3))/2, 'margin-top':(50-(brushSize/2+3))/2}" ng-click="openColorPicker()">
      </div>
    </div>
    <input type="range" id="slider" ng-model="brushSize" class="size-picker">
    <form class="form-inline">
      <div class="form-group">
        <input type="text" class="form-control" ng-model="roomName" placeholder="Get a room...">
      </div>
      <button type="button" ng-click="goToRoom(roomName)" class="btn btn-success btn-circle"><i class="glyphicon glyphicon-arrow-right"></i></button>
      <button type="button" ng-click="clearCanvas()" class="btn btn-danger btn-circle">C</button>
      <button type="button" ng-click="saveCanvas()" class="btn btn-danger btn-circle">Pic</button>
      {{userID}}
    </form>
  </div>
</section>
<div class="outer">
  <div class="inner">
    <input type="color" id="color-picker-element" ng-model="brushColor" class="color-picker">
  </div>
</div>